#tabterr{
    background-color: #C0C0C0;
    margin-left: 650px;
    padding: 15px;
    height: 100px
}
#terr{
    text-align: center;
}
.titulo{
    
    color: black;
    text-align: left;
}
.fa{
    color:black;
}

h3{
    text-align: center;
}
form{
    /* Sólo para centrar el formulario a la página */
    margin: 0 auto;
    width: 710px;
    height: 350px;
    /* Para ver el borde del formulario */
    padding: 1em;
    border: 1px solid #CCC;
    border-radius: 1em;
    background-color: #bdc3c7;
    
}

#asientoAvi{
    margin: 0 auto;
    width: 1361px;
    height: 601px;
    background-image: url("../images/avion_^-^.jpg") ;
    background-repeat: no-repeat;
   
}
td{
    width: 80px;
    height: 20px;
}

tr{
    
 width: 80px;
 height: 20px;   
}
table{
    padding-left: 30px;
    margin-top: 34px;
}

.regreso{
    display: none;
}

.espacio{
    height:50px;
}

aside{
    margin-top: 131px;
}



