.descrip{
    padding-left: 50px;
    padding: 10px 350px;
    border-radius: 4px;
    background-color: #bfb4b2;
}
#prin{
    float: right;
    padding-right: 250px;
}
img{
    padding-left: 85px;
}
h1{
    text-align: center;
}