body{
    margin: 0px;
    background-color: #D4E3DA;
}
.prin{
    background-color: black;
    height: 100px;
}
#ini{
    float: right;
    padding-right: 10px;
}
#nav{
    padding-left: 500px;
}
ul li {
background:#000;
list-style: none;
height: 54px;
padding:10px 5px;
float: left;
}
ul li a {
width: 135px;
height: 40px;
line-height: 53px;
border-bottom: 4px solid #636393;
padding:0px;
color: #fff;
font-size:18px;
font-weight:lighter;
text-align:center;
text-decoration: none;
display: block;
-webkit-transition: .2s all linear;
-moz-transition: .2s all linear;
-o-transition: .2s all linear;
transition: .2s all linear;
}
li:nth-child(1) a {
border-color: #C0392B;
}
li:nth-child(2) a {
border-color: #1179CA;
}
li:nth-child(3) a {
border-color: #e35ac4;
}
li:nth-child(4) a {
border-color: #583FE0;
}
li:nth-child(5) a {
border-color: #33FFC7;
}
li:nth-child(6) a {
border-color: #FFE633;
}
li:nth-child(1) a:hover {
border-bottom: 35px solid #C0392B;
height: 9px;
}
li:nth-child(2) a:hover {
border-bottom: 35px solid #1179CA;
height: 9px;
}
li:nth-child(3) a:hover {
border-bottom: 35px solid #e35ac4;
height: 9px;
}
li:nth-child(4) a:hover {
border-bottom: 35px solid #583FE0;
height: 9px;
}
li:nth-child(5) a:hover {
border-bottom: 35px solid #33FFC7;
height: 9px;
}
li:nth-child(6) a:hover {
border-bottom: 35px solid #FFE633;
height: 9px;
}
body#index ul#nav li:nth-child(1) a,
body#empleado ul#nav li:nth-child(1) a,
body#cliente ul#nav li:nth-child(1) a{
    background: #C0392B; 
}
body#avionViaje ul#nav li:nth-child(2) a{
    background: #1179CA;
}
body#terrestre ul#nav li :nth-child(3) a{
    background: #e35ac4;
}
body#maritimo ul#nav li:nth-child(4) a{
    background: #609491;
}
.ocultar{
    display: none;
}
.regre{
    display: none;
}
#estiform{
    background-color: #CACFD2;
    padding-left: 150px;
    padding-right: 150px;
    margin-left: 275px;
    margin-right: 275px;
    width: 356px;
    height: 710px;
}
#txt{
    size: 25px;
}
input{
    border: 1px dotted #999;
    border-radius: 0;

}

.info{
    float: right;
    text-align: justify;
    padding-left: 750px;
    padding-right: 250px;
}
.conver{
    float: left;
    padding-left: 65px;
    
}
#secc{
    display: -ms-inline-grid;
}

#deta{
    padding-left: 300px;
    padding-right: 300px;
    text-align: justify;
}
#qui{
    float: right;
}
#con{
    float: left;
}


