
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans Regular'), local('OpenSans-Regular'), url(https://fonts.gstatic.com/s/opensans/v15/mem8YaGs126MiZpBA-UFVZ0e.ttf) format('truetype');
}
.container {
  width: 300px;
  height: 200px;
  position: absolute;
  left: 500px;
  margin: 0 auto;
  top: 250px;
}
.div-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.div-img.hidden {
  overflow: hidden;
}
.div-img .img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 250px;
  height: 250px;
  border-radius: 150px;
  -webkit-border-radius: 150px;
  -moz-border-radius: 150px;
  transform: translate(0px);
  -ms-transform: translate(0px);
  -moz-transform: translate(0px);
  -webkit-transform: translate(0px);
  -o-transform: translate(0px);
  -webkit-transition: all 500ms ease-in-out;
  -moz-transition: all 500ms ease-in-out;
  -ms-transition: all 500ms ease-in-out;
  -o-transition: all 500ms ease-in-out;
}
.div-img .text {
  font-family: 'Open Sans';
  position: absolute;
  z-index: -1;
  display: block;
  height: 50%;
  top: 50%;
  left: 0;
  padding-left: 5px;
  opacity: 0;
  transition: all 1.5s;
  -webkit-transition: all 1.5s ease-in;
  -moz-transition: all 1.5s ease-in;
  -ms-transition: all 1.5s ease-in;
  -o-transition: all 1.5s ease-in;
}
.div-img .overlay {
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  height: 125%;
  background-color: rgba(0, 0, 0, 0.3);
  /*dim the background*/
  opacity: 0;
  transition: opacity 1s;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -ms-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
}
.div-img:hover .img {
  transform: translate(150px, 0px);
  -ms-transform: translate(150px, 0px);
  -moz-transform: translate(150px, 0px);
  -webkit-transform: translate(150px, 0px);
  -o-transform: translate(150px, 0px);
}
.div-img:hover .overlay {
  opacity: 1;
}
.div-img:hover .text {
  opacity: 1;
}
.container2 {
  width: 300px;
  height: 200px;
  position: absolute;
  left: 500px;
  margin: 0 auto;
  top: 550px;
}

.container3 {
  width: 300px;
  height: 200px;
  position: absolute;
  left: 800px;
  margin: 0 auto;
  top: 550px;
}

.container4 {
  width: 300px;
  height: 200px;
  position: absolute;
  left: 800px;
  margin: 0 auto;
  top: 250px;
}

#texto1{
    padding-left: 60px;
}

#texto2 {
    padding-left: 50px;
}

#texto4{
    padding-left: 30px;
}


