.container {
    
    width:500px;
    margin: 90px auto;
    padding: -10px 10px 10px 10px;
}
.slideshow_wrapper {
    width:500px;
    height:280px;
    overflow: hidden;
}
.slideshow {
    width:2900px;
    height:380px;
    margin: 0 0 0 -1000px;
    position: relative;
    -webkit-animation-name: slide_animation;
    -webkit-animation-duration:10s;
    -webkit-animation-iteration-count:infinite;
    -webkit-animation-direction:alternate;
    -webkit-animation-play-state: initial;
}
.slide {
    width:500px;
    height: 370px;
    position:relative;
    float:left;
    overflow:auto;
}
.slideshow img{
    width:500px; height:270px;
}

@-webkit-keyframes slide_animation {

    0% {left:0px;}
    10% {left:500px;}
    20% {left:500px;}
    30% {left:500px;}
    40% {left:500px;}
    50% {left:500px;}
    60% {left:500px;}
    70% {left:1000px;}
    80% {left:1000px;}
    90% {left:1000px;}
    100% {left:1000px;}
 
}