#formul{
    width: 500px;
    height: 400px;
    margin-top: -15px;
}

#detalle{
    width: 690px;
    height: 503px;
    
}
#formul2{
    width: 455px;
    height: 270px;
}
#infor{
    width: 460px;
    height: 240px;
    padding-left: 80px;
}

#estatic{
    text-align: right;
    width: 105px;
}
#datos{
    width: 175px;
}