#tabterr{
    background-color: #C0C0C0;
    margin-left: 650px;
    padding: 15px;
}
#terr{
    text-align: center;
}
.titulo{
    
    color: black;
    text-align: left;
}
.fa{
    color:black;
}
h1{
    text-align: center;
}

#tabviaje{
    background-color: #C0C0C0;
    margin-left: 0px;
    padding: 15px;
}
form{
    /* Sólo para centrar el formulario a la página */
    margin: 0 auto;
    width: 710px;
    height: 350px;
    /* Para ver el borde del formulario */
    padding: 1em;
    border: 1px solid #CCC;
    border-radius: 1em;
    background-color: #bdc3c7;
    
}
#asientos{
    margin: 0 auto;
    width: 885px;
    height: 230px;
    background-image: url("../images/bus_7u7.jpg");
}
.regreso{
    display: none;
}
.espacio{
    height:50px;
}
td{
    width: 50px;
}
table{
    padding-left: 155px;
}